---

---

<div class="preview-container flex py-4 flex-row-reverse">
  <img src="preview_3.jpg" alt="Lethal Acrobatic Action

    " />
  <div class="preview text-left flex flex-col justify-evenly items-center">
    <h3>Lethal Acrobatic Action</h3>
    <div>
      <p class="mb-4">
        Hornet must master a whole new suite of powerful moves to survive.
        She'll unleash devastating attacks, learn incredible silken abilities,
        and craft deadly tools in order to overcome the kingdom's challenges.
      </p>
      <p class="my-4">
        Over 150 all-new foes stand between Hornet and the shining citadel
        crowning the kingdom. Beasts and hunters, assassins and kings, monsters
        and knights - Hornet must face them all with bravery and skill!
      </p>
    </div>
  </div>

  <style>
    h2 {
      font-size: calc(var(--heading-2-size-value) * 1rem);
      font-weight: 500;
    }
    h3 {
      font-size: calc(var(--heading-3-size-value) * 1rem);
      font-weight: 500;
    }
    h4 {
      font-size: calc(var(--heading-4-size-value) * 1rem);
      font-weight: 500;
    }
    .preview {
      margin-right: 10%;
    }
  </style>
</div>
