---

---

<!-- TODO: fix left space -->
<div class="preview-container flex py-4">
  <img src="preview_3.jpg" alt="Beauty and Wonder in a Haunted World" />
  <div class="preview-right text-left flex flex-col justify-evenly">
    <h3>Beauty and Wonder in a Haunted World</h3>
    <div>
      <p class="mb-4">
        The vast inter-connected world of Hollow Knight: Silksong is brought
        vividly to life in a traditional, hand-crafted, 2D style. Gilded cities,
        Lakes of fire, and misted moors are illustrated in exquisite detail and
        accompanied by a vibrant orchestral score.
      </p>
      <p class="my-4">
        In her search for the truth behind her capture, Hornet will befriend
        surprising strangers, discover shocking secrets and solve ancient
        mysteries in a kingdom full of wonders.
      </p>
    </div>
  </div>

  <style>
    h2 {
      font-size: calc(var(--heading-2-size-value) * 1rem);
      font-weight: 500;
    }
    h3 {
      font-size: calc(var(--heading-3-size-value) * 1rem);
      font-weight: 500;
    }
    h4 {
      font-size: calc(var(--heading-4-size-value) * 1rem);
      font-weight: 500;
    }
    .preview-right {
      margin-left: 10%;
    }
    .preview-left {
      margin-right: 10%;
    }
  </style>
</div>
