---
// TODO: hacer componente vue o algo mas
---

<!-- <script is:inline>
  const button = document.querySelector("button.alert");

  button.addEventListener("click", () => {
    alert("klko");
  });
</script> -->
<section class="limit"></section>
