---

---

<div class="header-wrapper relative w-full bg-transparent flex justify-between">
  <div class="teamcherrylogo-container">
    <img src="teamcherryLogo.png" alt="Team Cherry Logo" />
  </div>
  <div class="socialnetworks-container flex">
    <img src="youtube_icon.png" alt="YouTube" />
    <img src="youtube_icon.png" alt="YouTube" />
    <img src="youtube_icon.png" alt="YouTube" />
  </div>
</div>

<style>
  .header-wrapper {
    padding: 3vw 4vw;
  }
  .teamcherrylogo-container img {
    max-width: 100%;
    max-height: 50px;
  }
  .socialnetworks-container img {
    height: 30px;
  }
</style>
