---
import Preview_1 from "@/components/Preview_1.astro";
import Preview_2 from "@/components/Preview_2.astro";
import Preview_3 from "@/components/Preview_3.astro";
---

<section class="limit text-center">
  <h2>Ascend to the Peak of a Haunted Kingdom</h2>
  <Preview_1 />
  <Preview_2 />
  <Preview_3 />
</section>

<style>
  h2 {
    font-size: calc(var(--heading-2-size-value) * 1rem);
    font-weight: 500;
  }
  h3 {
    font-size: calc(var(--heading-3-size-value) * 1rem);
    font-weight: 500;
  }
  h4 {
    font-size: calc(var(--heading-4-size-value) * 1rem);
    font-weight: 500;
  }
  .preview {
    margin-left: 10%;
  }
</style>
