---

---

<section class="limit flex py-4 m-auto">
  <div
    class="preview-right text-left flex flex-col justify-evenly items-center"
  >
    <h3>A Soulful, Orchestral Score</h3>
    <div>
      <p class="mb-4">
        Hollow Knight's award-winning composer, Christopher Larkin, brings
        melancholy melodies, symphonic strings and heart-thumping, soul
        strumming boss themes to Hornet's adventure.
      </p>
      <button
        class="py-4 px-7 bg-white text-black transition ease-in-out duration-300 hover:bg-slate-200 hover:text-black"
        >Preview the Soundtrack</button
      >
    </div>
  </div>
  <img
    src="soundtrack/album-art.jpg"
    alt="Captured and Taken to a Distant Land
"
  />
</section>

<style></style>
