---

---

<section class="limit ml-auto mr-auto">
  <div class="grid grid-rows-2 grid-cols-3">
    <div>
      <img src="stores/steam_logo.png" alt="" />
    </div>
    <div>
      <img src="stores/gog_logo.png" alt="" />
    </div>
    <div>
      <img src="stores/humble-store_logo.png" alt="" />
    </div>
    <div>
      <img src="stores/nintendo-switch_logo.png" alt="" />
    </div>
    <div>
      <img src="stores/xbox-game-pass_logo.png" alt="" />
    </div>
    <div>
      <img src="stores/PS5_logo.png" alt="" />
    </div>
  </div>
</section>

<style>
  section {
    padding: 4vw;
  }
</style>
